@font-face {
  font-family: 'LunchType-Regular';
  src: url('../font/lunchtype22-regular-webfont.woff2') format('woff2'),
       url('../font/lunchtype22-regular-webfont.woff') format('woff'),
       url('../font/lunchtype22-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'LunchType-Medium';
  src: url('../font/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
       url('../font/lunchtype24-medium-expanded-webfont.woff') format('woff'),
       url('../font/lunchtype24-medium-expanded-webfont.ttf') format('truetype');
}

body {
  font-family: 'LunchType-Regular';
  font-size: 18px;
  line-height: 1.5;
}

.marquee,
.lineup h2,
.date,
.button {
    font-family: 'LunchType-Medium', sans-serif;
}
