.flex-column {
  flex-direction: column;
}

.register {
  min-height: 65vh;
  display: flex;
  background-color: #FFEED1;
}

.register .container {
  display: flex;
  flex-direction: row;
}

.register h2 {
  font-size: 24px;
  margin-bottom: 48px;
  line-height: 1.1;
}
.form {
  margin: 48px 24px;
}

.sign-up {
  display: flex;
  border-bottom: solid 2px #00B290;
  padding-bottom: 12px;

}

input{
  background: none;
  border: none;
  font-size: 21px;
  outline: none;
}

.email-input {
  /* this forces the element to take all available space */
  flex: 1;
}

.submit {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  outline: none;
  font-size: 21px;
}

.submit:hover {
  background-color: rgba(255,255,255,0.5)
}

.eyes {
  background-image: url(../img/eyes_open.svg);
  width: 108px;
  height: 32px;
}
.hand {
  background-image: url(../img/ok_hand.svg);
  width: 57px;
  height: 89px;
 	transform: rotate(10deg);
  align-self: flex-end;
}

.eyes,
.hand {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}




.footer {
  min-height: 35vh;
  display: flex;
  background-color: #111118;
  text-align: center;
}

.footer img {
  max-width: 87px;
	margin-bottom: 24px;
}
.button {
  border: solid 2px #FFEED1;
  color: #FFEED1;
  line-height: 1;
  padding:  6px 12px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
}


@media (max-width: 640px) {
  .register .container {
    flex-direction: column;
  }

  .register h2 {
    font-size: 30px;
  }

  .form {
    margin: 24px 0;
  }
}
